domain_name       = "felloway.click"
api_host          = "test.api.felloway.click"
web_host          = "test.app.felloway.click"
vpc_cidr          = "10.20.0.0/16"
db_instance_class = "db.t4g.micro"
jwt_signing_key   = "change-me-min-32-characters-for-jwt-signing!!"
