domain_name     = "felloway.example.com"
api_host          = "test.api.felloway.example.com"
web_host          = "test.app.felloway.example.com"
vpc_cidr          = "10.20.0.0/16"
db_instance_class = "db.t4g.micro"
jwt_signing_key   = "change-me-min-32-characters-for-jwt-signing!!"
