domain_name       = "felloway.click"
api_host          = "api.felloway.click"
web_host          = "app.felloway.click"
vpc_cidr          = "10.30.0.0/16"
db_instance_class = "db.t4g.micro"
jwt_signing_key   = "change-me-min-32-characters-for-jwt-signing!!"
